/* src/components/Signup.css */

.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input:focus {
    border-color: #5F41E4; /* Change border color on focus */
}

/* button {
    padding: 10px;
    background-color: #5F41E4; /* Primary color 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4320df; /* Darker shade for hover effect 
} */

@media (max-width: 500px) {
    .signup-container {
        width: 90%;
        margin-top: 20px; /* Adjust margin for smaller screens */
        padding: 15px; /* Adjust padding for smaller screens */
    }
}